<template name="navForm">
  <section class="container-fluid hotel-list-form">
        <form class="row">
            <!-- <div class="col-sm-2"></div> -->
            <div class="col-sm-2">
                <input type="text" id="checkin" placeholder="11/15/2015">
            </div>
            <div class="col-sm-2">
                <input type="text" id="checkout" placeholder="11/16/2015">
            </div>
            <div class="col-sm-2">
                <select>
                    <option>1 Room</option>
                    <option>2 Rooms</option>
                    <option>3 Rooms</option>
                    <option>4 Rooms</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select>
                    <option>1 Guest</option>
                    <option>2 Guests</option>
                    <option>3 Guests</option>
                    <option>4 Guests</option>
                    <option>5 Guests</option>
                    <option>6 Guests</option>
                    <option>7 Guests</option>
                    <option>8 Guests</option>
                    <option>9 Guests</option>
                    <option>10 Guests</option>
                </select>
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Update">
            </div>

        </form>
    </section>
  </template>
